{% extends 'base.html.twig' %} {% block body %}

<h2>Films</h2>

<button type="button" class="btn btn-primary btn-lg">
    <span class="glyphicon glyphicon-plus"></span>Ajouter Film
</button>

<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Trier par
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="titleSort">Titre</a>
    {% for name in movies|sort %}
    {% endfor %}
  </div>
</div>


<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col" colspan="4">Titre</th>
      <th scope="col" colspan="4">Année</th>
      <th scope="col" colspan="2">Éditer</th>
      <th scope="col" colspan="2">Supprimer</th>
    </tr>
  </thead>

  <tbody>
    {% for movie in movies %}
      <tr>
        <th scope="row">{{ loop.index }}</th>
            <td colspan="4">{{ movie.title }}</td>
            <td colspan="4">{{ movie.year }}</td>
            <td colspan="2">
              <button type="button" class="btn btn-default btn-sm" onclick="window.location.href='/movies/{{ movie.id }}'">
                <span class="glyphicon glyphicon-edit"></span> Edit
              </button>
            </td>
            <td colspan="2">
              <button type="button" class="btn btn-default btn-sm">
                  <span class="glyphicon glyphicon-trash"></span> Supprimer
              </button>
            </td>
      </tr>
    {% endfor %}
</table>
{% endblock %}
