{% extends 'base.html.twig' %} {% block body %}

<h2>Acteurs</h2>

<button type="button" class="btn btn-primary btn-lg">
    <span class="glyphicon glyphicon-plus"></span>Ajouter Acteur
</button>

<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Trier par
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Nom</a>
  </div>
</div>


<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col" colspan="4">Nom</th>
      <th scope="col" colspan="4">Prénom</th>
      <th scope="col" colspan="2">Éditer</th>
      <th scope="col" colspan="2">Supprimer</th>
    </tr>
  </thead>

  <tbody>
    {% for actor in actors %}
      <tr>
        <th scope="row">{{ loop.index }}</th>
            <td colspan="4">{{ actor.lastname }}</td>
            <td colspan="4">{{ actor.firstname }}</td>
            <td colspan="2">
              <button type="button" class="btn btn-default btn-sm" onclick="window.location.href='/actors/{{ actor.id }}'">
                <span class="glyphicon glyphicon-edit"></span> Edit
              </button>
            </td>
            <td colspan="2">
              <button type="button" class="btn btn-default btn-sm">
                  <span class="glyphicon glyphicon-trash"></span> Supprimer
              </button>
            </td>
      </tr>
    {% endfor %}
</table>
{% endblock %}
